@model ArriendoDeAutosASP.Models.Email

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Email Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailSubject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailSubject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailBody)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailBody)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTime)
        </dd>
    </dl>
</div>
<div>
    <!--<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |-->
    <!--<a asp-action="Index">Back to List</a>-->
</div>
