@model IEnumerable<ArriendoDeAutosASP.Models.Vehicle>

@{ 
    ViewData["Title"] = "Vehicles List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @if (TempData["mssg"] != null)
            {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                @TempData["mssg"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            }

    <div class="row">
        <div class="col-sm-6">
            <h3>Available</h3>
        </div>
        <div class="col-sm-6">
            <a class="btn btn-success d-block" asp-action="CreateVehicle" asp-controller="Vehicles">Add Vehicle</a>
        </div>
    </div>

    <div class="row">
        @if (Model.Count() > 0)
            {
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <td>@Html.DisplayNameFor(m => m.Model)</td>
                        <td>@Html.DisplayNameFor(m => m.Brand)</td>
                        <td>@Html.DisplayNameFor(m => m.Type)</td>
                        <td>@Html.DisplayNameFor(m => m.HP)</td>
                        <td>@Html.DisplayNameFor(m => m.Price)</td>
                        <td>@Html.DisplayNameFor(m => m.ModelYear)</td>
                        <td>Actions</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.Model</td>
                        <td>@item.Brand</td>
                        <td>@item.Type</td>
                        <td>@item.HP</td>
                        <td>$@item.Price</td>
                        <td>@item.ModelYear</td>
                        <td>
                            <a asp-controller="Vehicles" asp-action="EditVehicle" asp-route-id="@item.Id"
                               class="btn btn-warning">Edit</a>
                            <a asp-controller="Vehicles" asp-action="DeleteVehicle" asp-route-id="@item.Id"
                               class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>  
            }
            else
            {
            <p>No Vehicles on the DataBase</p>
            }
    </div>

</div>

