@model IEnumerable<ArriendoDeAutosASP.Models.Rental>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--<p>
    <button asp-action="Create" class="btn btn-success btn-block btn-lg">Rent a Car</button>
</p>-->
<h2 class="text-center">Previous Orders</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Office)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Days)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickUp)
            </th>
            <th>Acctions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Client.Rut) /
                @Html.DisplayFor(modelItem => item.Client.FirstName)
                @Html.DisplayFor(modelItem => item.Client.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.Brand)
                @Html.DisplayFor(modelItem => item.Vehicle.Model) /
                @Html.DisplayFor(modelItem => item.Vehicle.Price)
                @{
                    int total = item.Vehicle.Price * item.Days;
                }Total: $@total
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Office.City),
                @Html.DisplayFor(modelItem => item.Office.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Days)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickUp)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="text-white"><button type="button" class="btn btn-warning">Edit</button></a>
                <a asp-action="Details" asp-route-id="@item.Id" class="text-black-50"><button type="button" class="btn btn-secondary">Details</button></a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="text-white"><button type="button" class="btn btn-danger">Delete</button></a>
                <a asp-controller="Bills" asp-action="AutoCreate" asp-route-id="@item.Id" asp-route-rentid="@item.Id" asp-route-total="@total" class="text-white"><button class="btn btn-info">Generate Bill</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
